.addAndDelete {
  border-radius: 15px;
  padding: 5px;
  width: 70px;
  margin: 5px 0;
  background-color: #002f63;
  color: #d9d9d9;
}

.afterObjectsButton {
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 15px;
  padding: 10px;
  width: 100px;
}

.submitButton {
  margin-right: 30px;
}

#submitContainer {
  float: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.objectBox {
  height: 310px;
  padding-bottom: 5px;
}
