.addAndDelete, .afterObjectsButton {
  margin-bottom: 20px;
}

.addAndDelete {
  border-radius: 15px;
  padding: 5px;
  width: 70px;
}

.afterObjectsButton {
  margin-top: 10px;
  border-radius: 15px;
  padding: 10px;
  width: 100px;
}

input[type="submit"] {
  margin-right: 30px;
}

#submitContainer {
  float: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

