*{ 	
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #d9d9d9;
  background-color: #002f63;
}

header {
  display: flex;
}

.box{
  flex: 1;
  border-bottom: #d9d9d9 5px solid;
}

/* The caption */

#headerCenter{
  display: flex;
  justify-content: center;
}

.caption {
  text-align: center;
  float: left;
}

/*Language icon and the form from it*/

#headerRight{
  display: flex;
  justify-content: right;
}

#LanguageIconBtn {
  margin-top: 17px;
  margin-right: 25px;
  background-color: #d9d9d9;
  color: #002f63;
  padding: 10px;
  height: 45px;
  width: 45px;
  font-size: 16px;
  text-align: center;
  border-radius: 50%;
}

/*Menu*/

.btnMenu{
  position: absolute;
  top: 23px;
  left: 25px;
  height: 45px;
  width: 45px;
  text-align: center;
  background-color: #d9d9d9;
  border-radius: 3px;
  cursor: pointer;
  transition: left 0.3s ease;
}

.btnMenu.click {
  left: 275px;
}

.btnMenu span{
  color: #002f63;
  background-color: #d9d9d9;
  font-size: 28px;
  line-height: 45px;
}

.btnMenu.click span:before{
  content: '\f053';
}

.sidebar{
  top: 0px;
  position: fixed;
  width: 250px;
  height: 100%;
  left: -255px;
  background: #002f63;
  transition: left 0.3s ease;
}

.sidebar.show{
  left: 0px;
  top: 0px;
}

nav ul{
  margin: 0;
  padding: 0;
  background: #002f63;
  height: 100%;
  width: 100%;
  list-style: none;
}

nav ul li{
  line-height: 60px;
}

nav ul li a{
  position: relative;
  color: #d9d9d9;
  text-decoration: none;
  font-size: 18px;
  padding-left: 40px;
  font-weight: 500;
  display: block;
  width: 100%;
  border-left: 3px solid transparent;
}

nav ul li.active a{
  color: #ADD8E6;
  background: #607b8d;
  border-left-color: cyan;
}

nav ul li a:hover{
  background: #607b8d;
}


